$primaryColor: aqua;
$secondaryColor: #ff701d;
$opaqueWhite: rgba(255, 255, 255, 0.8);

@mixin animate($name, $duration, $repeat) {
  -webkit-animation: $name $duration $repeat;
  -moz-animation: $name $duration $repeat;
  -o-animation: $name $duration $repeat;
  animation: $name $duration $repeat;
}

@mixin box-shadow($top, $left, $blur, $color) {
  -webkit-box-shadow: $top $left $blur $color;
  -moz-box-shadow: $top $left $blur $color;
  box-shadow: $top $left $blur $color;
}

* {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 24px;
  font-family: 'Unica One', cursive;
}

body {
  background-image: url(images/stefan-stefancik-257625.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: overlay;
}

#title {
  margin: 0;
  text-align: center;
  h1 {
    margin: 0;
    font-size: 96px;
    font-family: 'Bungee Shade', cursive;
    //text-shadow: 1px 1px $secondaryColor;
    @include animate(blinkText, 1s, infinite);
    animation-direction: alternate;
  }
  p {
    font-size: 32px;
    font-weight: 200;
  }
}

h2 {
  text-align: center;
  text-decoration: underline;
  font-size: 32px;
}

.experience label, .jobType label, .contactOptions label {
  font-weight: 100;
}

button, select, option, input[type='text'] {
  margin-top: 3px;
  color: black;
}

.fa {
  width: fit-content;
  text-align: left;

}

.fa-plus {
  color: $primaryColor;
  &:hover {
    text-shadow: 2px 1px $secondaryColor;
  }
}

.fa-ban {
  color: $secondaryColor;
  &:hover {
    text-shadow: 2px 1px $primaryColor;
  }
}

.draggable {
  list-style-type: none;
  padding: 5px;
  width: fit-content;
  height: 50px;
  background-color: $opaqueWhite;
  color: $secondaryColor;
  font-weight: 500;
}

.ui-draggable-dragging {
  border: solid 2px $primaryColor;
}

.ui-droppable-active {
  color: $primaryColor;
}

.ui-droppable-hover {
  color: $secondaryColor;
}

ul {
  li {
    list-style-type: none;
    background-color: $opaqueWhite;
    width: fit-content;
    padding: 2px;
    margin: 2px;
  }
}

input[type='text'] {
  width: 65%;
}

.col-xs-8 input[type='text'] {
  width: 65%;
}

.primary {
  color: $primaryColor;
  font-size: 32px;
}

.secondary {
  color: $secondaryColor;
  font-size: 32px;
}

.submit {
  width: 20%;
  position: fixed;
  bottom: 5%;
  right: 5%;
  text-align: center;
  button {
    border-radius: 5px;
    font-size: 36px;
    padding: 3px;
    margin: 0 auto;
    background-color: $opaqueWhite;
    border: solid 2px $primaryColor;
    @include box-shadow(1px, 2px, 1px, $secondaryColor);
    i {
      color: $secondaryColor;
    }
    &:hover {
      border: solid 2px $secondaryColor;
      @include box-shadow(1px, 2px, 1px, $primaryColor);
      i {
        color: $primaryColor;
      }
    }
  }
}

.row {
  margin-top: 10px;
}

.experienceGroup {
  border-bottom: solid 1px $primaryColor;
}

@-webkit-keyframes blinkText {
  0% {
    //border: 1px solid $secondaryColor;
    text-shadow: 1px 0px $secondaryColor;
  }
  100% {
    //border: 1px solid $secondaryColor;
  text-shadow: 3px 2px $primaryColor;
  }
}

@keyframes blinkText {
  0% {
    //border: 1px solid $secondaryColor;
    text-shadow: 1px 0px $secondaryColor;
  }
  100% {
    //border: 1px solid $secondaryColor;
    text-shadow: 3px 2px $primaryColor;
  }
}

@keyframes sheen {
  100% {
    transform: rotateZ(60deg) translate(1em, -9em);
  }
}



