$primaryColor: aqua;
$opaqueWhite: rgba(255, 255, 255, 0.4);

* {
  padding: 0;
  margin: 0;
  color: white;
  font-size: 20px;
}

body {
  background-image: url(images/stefan-stefancik-257625.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: rgba(0, 0, 0, 0.6);

  background-blend-mode: overlay;
}

#title {
  margin: 0;
  text-align: center;
  h1 {
    margin: 0;
    font-size: 56px;
  }
  p {
    font-size: 24px;
    font-style: italic;
  }
}

.leftSide {
  height: 100vh;
  position: fixed;
  top: 20%;
  table {
    width: 75%;
    margin: 0 auto;
    td {
      padding: 10px 5px;
    }
  }
}

.rightSide {
  height: 40vh;
  position: fixed;
  top: 30%;
  right: 0;
  text-align: center;

  .contactOptions {
    margin: 0 auto;
    label {
      width: fit-content;
      padding: 0 10px;
    }
  }
  label {
    text-align: left;
    width: 20%;
  }
      input[type='text'] {
        width: 55%;
  }
}

ul {
  padding-left: 50px;
  li {
    list-style-type: none;
    background-color: $opaqueWhite;
    width: fit-content;
    padding: 2px;
    margin: 2px;
  }
}

.experience label, .jobType label {
  font-size: 16px;
}

button, select, option, input[type='text'] {
  color: black;
}

select, input[type='text'] {
  width: 90%;
}

button {
  padding: 2px 5px;
}

i {
  color: black;
}

h2, h3 {
  text-align: center;
}

#submit {
  margin-top: 50px;
  &:hover {
    border-bottom: solid 2px $primaryColor;
    border-right: solid 2px $primaryColor;
  }
}

.fa-ban {
  color: white;
  position: fixed;
  bottom: 25px;
  left: 150px;
}

.draggable {
  padding: 5px;
  height: fit-content;
}

.ui-draggable-dragging {
    border: solid 2px $primaryColor;
}

.ui-droppable-active {
  color: red;
}

.ui-droppable-hover {
  color: aqua;
}

#tooManyKeywords {
  font-size: 14px;
  font-style: italic;
}